{% extends 'base.html' %}
 
{% block content %}
    <form action="/update/{{user.id}}" method="post">
        <div class="mb-3">
            <label>Name</label>
            <input type = "text" name = "name" placeholder = "Name" class="form-control" value="{{user.name}}"/>
        </div> 
        <div class="mb-3">
            <label>Position</label>
            <input type = "text" name = "position" placeholder = "position" class="form-control" value="{{user.position}}"/>
        </div> 
        <div class="mb-3">
            <label>Office</label>
            <input type = "text" name = "office" placeholder = "office" class="form-control" value="{{user.office}}"/>
        </div> 
     
        <input type = "submit" value = "Update" class="btn btn-primary mb-3"/>  
     </form> 
{% endblock content %}